#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Encoding=UTF-8
Name=Code
Exec=/var/lib/snapd/snap/bin/code --profile-directory=Default --app-id=code
Icon=/home/ruan.arcega/.local/share/icons/code.png
