#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Encoding=UTF-8
Name=Spotify
Exec=/var/lib/snapd/snap/bin/spotify --profile-directory=Default --app-id=spotify
Icon=/home/ruan.arcega/.local/share/icons/spotify.png
