#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Encoding=UTF-8
Name=Whatsapp
Exec=/var/lib/snapd/snap/bin/whatsapp-for-linux --profile-directory=Default --app-id=whatsapp
Icon=/home/ruan.arcega/.local/share/icons/whatsapp.png
